{%extends "base.html"%}
{% load static %}
{% block css_block %}
  <link rel="stylesheet" href="{% static "css/homepage.css" %}"></link>

{% endblock %}
{% block content %}
<!-- Booking jumbotron -->
<style>
  body {
        background-image: url(https://pics.freeartbackgrounds.com/Sky_with_Clouds_and_Airplane_Background-1482.jpg);
      }
</style>
<div class="container" id="bookContainer">

  <div class="row">
      <div class="col col-lg-6 col-xs-12">
        <div class="jumbotron" id="bookJumbo">
            <h2 id="bookHeader">  Book </h2>
              <form>
                <div class="form-group">
                  <label for="to" style="font-size:18px;">To:</label>
                  <input id="bookForm" class="form-control" type="text" name="to" placeholder="To*">
                </div>

                <div class="form-group">
                  <label for="from" style="font-size:18px;">From:</label>
                  <input id="bookForm" class="form-control" type="text" name="from" placeholder="Los Angeles">
                </div>

                <div class="form-group">
                  <label for="date" style="font-size:18px;">When:</label>
                  <input id="bookForm" class="form-control" type="date" name="date" value="">
                </div>
              </form>
        </div> <!--end jumbotron-->
      </div> <!--end col-->
    </div> <!--end row-->

  </div> <!--end bookContainer-->


  <div class="" style="background-color: white; margin-top: 250px; color:black;">
    <h1 style="text-align: center;">We care about our customers!</h1> <br>
    <h2 style="text-align:center;"> <strong>About Us</strong></h2> <br> <br> <br>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
{% endblock %}
