body{
  font-family: 'Prompt', sans-serif;
  background-color: black;
  text-align: center;
  color: rgb(255,163,26);
  border-right: 30px solid rgb(255,163,26);
  border-bottom: 30px solid rgb(255,163,26);
  border-left: 30px solid rgb(255,163,26);
  margin: 0px;
}

#first{
  padding-top: 70px;
  padding-bottom: 50px;
}

p{
  padding-left: 300px;
  padding-right: 300px;
}

.flightSearch input{
  margin-bottom: 10px;
}

input{
  width:20%;
}

button{
  color:black;
  background-color: rgb(128,128,128);
  height: 50px;
  width: 100px;
  border-radius: 12px;
}
