{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'flights/flight_list.css'%}">
<div class="container">
  <div class="totalresults">
    <div class="destinationheader">
      <h1> {{ orig }} <span class="glyphicon glyphicon-plane"></span>   {{ dest }}</h1>
    </div>
    <div class="resultsheader">
        <h2> Results: </h2>
    </div>
    {%for flight in flights %}
    <div class="results">
      <ol>
          <h2>
              {{ flight }}
              <button type="Submit"  class="reservebutton" name="button"><a href="{% url 'flights:detailpage' pk=flight.id%}">Reserve</a></button>
          </h2>
      </ol>
    </div>
        {%endfor%}
  </div>
</div>


{% endblock %}
