<!-- Gerardo Pena -->
{% extends "base.html"%}
{% load bootstrap3 %}
{%load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css'%}">
<div class="container">
    <h1>Account</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in account_form %}
            <p>
                {{field.label_tag}}
                {{field}}

                {% if field.help_text %}
                    <small style="color: grey">{{field.help_text}}</small>
                {% endif %}
            </p>
        {% endfor %}

        {% for field in account_form %}
            {% for error in field.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        {% endfor %}

        {% if account_form.non_field_errors %}
            <div style="color:red;">
                <p>{{account_form.non_field_errors}}</p>
            </div>
        {% endif %}
        <input type="submit" value="Save" class="btn btn-default">
    </form>
</div>
{% endblock %}
