<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600%27"></link>
    <link rel="stylesheet" href="{% static "css/navbar.css" %}"></link>
    <title>DaHubAirlines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
    <header>
        <div class="container">
            <a href="{% url 'website:homepage' %}"><img src="{% static "images/DH_LOGO.png" %}"  alt="Da Hub Airlines" class="logo"></a>
            <h1 class="logo"></h1>
    
            <nav>
            <ul>
                <li><a href="{% url 'website:homepage' %}">Home</a></li>
                <li><a href="{% url 'website:reservepage' %}">Reserve</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Search</a></li>
            </ul>
            </nav>
        </div>
    </header>
    <h1>Header</h1>
    <ul>
        {% for flight in flights %}
        <li>
            {{ flight }}
        </li>
        {% endfor %}
    </ul>

</body>

<!-- <div id="email login">
    <form>
        <lable for="email">Email:</lable>
        <input id="email" type="text" placeholder="username">
    
        <lable for="password">Password:</lable>
        <input id="password" type="password" placeholder="password">
        <button>Login</button>
    </form>
</div> -->

</html>